.space-under{
  padding-bottom: 50px;
  position: relative;
  left: 15px;
}
/******************************/
.titles{
  padding-bottom:4rem; /* 64px 4rem */
  padding-top: 4rem; 
  font-size:2.5em;
}
/*HOVER EFFECT*/
.contain {
    position: relative;
    width: 50%;
  }
  .space{
    padding-right: 60px;
  }
  
  .image {
    display: block;
    width: 20.875rem; /* 334px 20.875 rem */
    height: 20.875rem;
    height: auto;
  }
  
  .overlap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 20.875rem;
    width: 20.875rem;
    transition: .5s ease;
    background-color: rgb(158, 158, 158);
  }
  
  .contain:hover .overlap {
    opacity: 0.80;
  }
  
  .text {
    color: white;
    font-size: 1.75em; /* 1.75em 28px */
    font-weight:bold;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  #about-me{
    font-size:2.5rem;
  }
  #about-me-info{
    font-size: 1.19em; /* 1.2vw 1.19em, 19px*/
    font-weight: bold;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    text-align:center;
    /*padding-left: 230px;
    padding-right: 230px;
    padding-bottom: 30px;
    padding-top: 35px;
    top: 50%;
    left:50%;*/
  }
  #main-image{
    height:14.25em;
    width:14.25em;
  }
  .modal-pics{
    height:auto;
    width:100%;
  }
.errors{
    position: relative;
    margin-top: -20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 14.5px;
    color: #ec0000;
  }

  #about-links{
    margin-top: 15px;
    font-weight:bold;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color:red; 
    border-bottom: 2px solid white;
    font-size: 22px;
  }
  #about-links:hover{
    color: green;
  }
  .container-for-links a{
    display:block;
  }
  .container-for-links{
    top:50%;
    left:50%; 
    transform: translate(-50%, -50%);
    margin:0 auto;
    position: absolute;
  }